/* You can add global styles to this file, and also import other style files */
.bg{
  background:url('assets/images/login.jpg') no-repeat center center fixed; background-size: cover; margin: 0px;

}


.nbg {
  background: url('assets/images/back.png') no-repeat center center fixed;  background-size: cover;  margin: 0px;

}
