<div class="principal">
	<div class="imgcontainer">
      <br>
    	<img src="../../../assets/images/studentAvatar.png" alt="Avatar" class="avatar">
  </div>

  	<form class="container">
	    <input type="email" placeholder="email" id="email" #email  required >
	    <input type="password" placeholder="password" id="psw" #password  required>
	    <button type="submit" (click)="loginValidation(email.value,password.value)">Login</button><br/><br/>
	    <a routerLink="/register">Click here to register</a>
	    <h3 *ngIf="errorMessage" style="color: #ff4d4d">{{errorMessage}}</h3>
  	</form>
</div>
