form {
  position:fixed;
  top:40%;
  left:30%;
  width:700px;
  padding: 20px 16px;
  font-size: 50px;
  font-family:arial;
  color:#e6e6e6;
  background-color: rgba(50,50,50,0.8);
  text-align: center;

}

