.container{
  width:80%;
  height: 70%;
  margin:0 auto;
  margin-top:50px;
  font-family: arial;
  text-align:left;
}
.left{
  float:left;
  width:50%;
  margin-top: 20px;
}
.right{
  float:left;
  width:50%;

}
.center{
  text-align: center;
}
.procesor{
  margin-top:-40px;
  width:100%;
}

textarea{
  background-color: rgba(100,100,100,0.9);
  font-size: 15px;
  color:white;
  width: 99%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border:none;
  outline-color:#990000;
}
input[type=text] {
  background-color: rgba(100,100,100,0.9);
  font-size: 15px;
  color:white;
  width: 97%;
  height: 50px;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border:none;
  outline-color:#990000;
}


a{
  float:right;
  color:#2a2730;
  text-decoration: none;
  font-size: 20px;
}
a:hover{
  font-weight: bold;
  text-decoration: none;
  color:#111111;
}
label{
  font-weight: bold;
  margin-left: 10px;
  color:black;
  font-size:20px;
}
::placeholder{
  color:white;
}
button {
  background-color: #990000;
  font-size: 17px;
  color: white;
  padding: 12px 20px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  width: 97%;
  height: 50px;
  outline: 0 none;
  width:100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

select {
  border: 0 none;
  color: white;
  background: rgba(100,100,100,0.9);
  font-size: 20px;
  font-weight: bold;
  padding: 2px 10px;
  width: 378px;
  height: 50px;
  margin-top:10px;
}

#mainselection {
  overflow: hidden;
  width: 98%;
  border: 1px solid white;
  margin-top: 5px;
  margin-bottom: 30px;
}


/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
